@media screen and (min-width: 900px) {

    body {
        background-image: linear-gradient(rgb(252, 252, 153), rgb(150, 150, 243), rgb(142, 243, 142));
    }

    header {
        display: flex;
        justify-content: center;

    }

    .header {
        border: 1px;
        border-style: none;
        width: 900px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .photo {
        border: 1px;
        border-style: none;
        width: 250px;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    img {
        width: 150px;
        height: 200px;
    }

    .nom {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        border-color: green;
        color: green;
    }

    .etat {
        border: 1px;
        border-style: none;
        width: auto;
        height: auto;
        text-align: center;
    }

    hr {
        width: 50%;

    }

    article {
        display: flex;
        justify-content: center;


    }

    .article {
        border: 1px;
        border-style: none;
        width: 900px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .article1 {
        border: 1px;
        border-right-style: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-color: yellow;
        margin-top: 10px;

    }

    .article11 {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        margin-bottom: 10px;
        border-color: green;
        color: green;
    }

    .article12 {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        border-color: rgb(94, 94, 241);

    }

    b {
        color: none;
    }

    span {
        font-weight: 250;
    }

    .vert {
        color: NONE;
    }
}

@media screen and (max-width: 900px) {

    body {
        background-image: linear-gradient(rgb(252, 252, 153), rgb(150, 150, 243), rgb(142, 243, 142));
    }

    header {
        display: flex;
        justify-content: center;

    }

    .header {
        border: 1px;
        border-style: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .photo {
        border: 1px;
        border-style: none;
        width: 250px;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    img {
        width: 150px;
        height: 200px;
    }

    .nom {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        border-color: green;
        color: green;
    }

    .etat {
        border: 1px;
        border-style: none;
        width: auto;
        height: auto;
        text-align: center;
    }

    hr {
        width: 50%;

    }

    article {
        display: flex;
        justify-content: center;


    }

    .article {
        border: 1px;
        border-style: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .article1 {
        border: 1px;
        border-right-style: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-color: yellow;
        margin-top: 10px;

    }

    .article11 {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        margin-bottom: 10px;
        border-color: green;
        color: green;
    }

    .article12 {
        border: 1px;
        border-style: solid;
        width: auto;
        height: auto;
        text-align: center;
        border-color: rgb(94, 94, 241);

    }

    b {
        color: none;
    }

    span {
        font-weight: 250;
    }
}